/* ==================== 
SIDEBAR
==================== */

#sleek-ui-sheet .adversary h1 {
  font-size: var(--sleekUI-font-size-xl);
}

#sleek-ui-sheet .adversary .dead {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 80%;
  top: 10%;
  left: 10%;
  pointer-events: none;
}

#sleek-ui-sheet .adversary .dead i {
  scale: 6;
  color: var(--sleekUI-color-primary);
}

#sleek-ui-sheet .adversary-info {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  justify-content: flex-start;
  align-items: center;
  gap: var(--sleekUI-spacing-sm);
  padding: var(--sleekUI-spacing-sm) var(--sleekUI-spacing-md);
  text-align: center;
  margin-top: -32px;
  color: var(--sleekUI-color-secondary);
  line-height: 20px;
  cursor: default;
  overflow-y: auto;
  scrollbar-width: none;
}

#sleek-ui-sheet .motivesAndTactics {
  display: flex;
  flex-direction: column;
  margin: var(--sleekUI-spacing-sm) 0;
}

#sleek-ui-sheet .info-header {
  display: flex;
  align-items: center;
  gap: var(--sleekUI-spacing-xs);
  width: 100%;
}

#sleek-ui-sheet .info-header::before {
  content: "";
  flex: 1;
  height: 1px;
  background: var(--sleekUI-gradient-line-left);
}

#sleek-ui-sheet .info-header::after {
  content: "";
  flex: 1;
  height: 1px;
  background: var(--sleekUI-gradient-line-right);
}

#sleek-ui-sheet .actor-experiences {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--sleekUI-spacing-tiny);
  justify-content: center;
}

/* ==================== 
HEADER
==================== */

#sleek-ui-sheet .adversary-difficulty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  max-height: fit-content;
  padding: var(--sleekUI-spacing-xs) var(--sleekUI-spacing-md);
  border: 1px solid var(--sleekUI-color-border);
  border-radius: var(--sleekUI-border-radius);
}

#sleek-ui-sheet .adversary-difficulty .level-number {
  transform: translateY(4px);
}

#sleek-ui-sheet .reaction {
  background: var(--sleekUI-gradient-card);
  cursor: pointer;
}

#sleek-ui-sheet .reaction:hover {
  box-shadow: 0px 0px 9px -1px var(--sleekUI-color-border);
}

/* ==================== 
FEATURES
==================== */

#sleek-ui-sheet .values-row.attack {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 50px;
}

#sleek-ui-sheet .values-row.attack .attack-bonus {
  padding: 0 var(--sleekUI-spacing-lg);
}

#sleek-ui-sheet .actor-attack .card-container.header .card-header,
#sleek-ui-sheet .actor-attack .card-container.header .card-text,
#sleek-ui-sheet .actor-attack .card-container.header .card-resource {
  cursor: default;
}

#sleek-ui-sheet
  .actor-attack
  .card-container.header
  .card-resource
  .actor-attack-roll {
  cursor: pointer;
}

#sleek-ui-sheet .adversary .card-container.header .card-icon {
  width: 56px;
}

#sleek-ui-sheet .adversary .card-container.header .card-icon .dice-roll {
  left: 20px;
}

#sleek-ui-sheet .resource.fear-resource {
  background: none;
}

#sleek-ui-sheet .resource.fear-resource .fear-icon-full i {
  margin: 0;
  color: #a45dff;
  filter: drop-shadow(0 0 4px #0000ff);
}

#sleek-ui-sheet .resource.fear-resource .fear-icon-empty i {
  margin: 0;
  opacity: 0.2;
}

/* ==================== 
NOTES
==================== */

#sleek-ui-sheet .tab-pane.active:has(.notes-tab),
#sleek-ui-sheet .tabs.notes-tab,
#sleek-ui-sheet .tabs.notes-tab .category-wrapper {
  height: 100%;
}

#sleek-ui-sheet .notes-tab .notes-content {
  height: 100%;
  background: var(--sleekUI-color-background-input);
  border-radius: var(--sleekUI-border-radius);
  padding: var(--sleekUI-spacing-md);
}
