/* ==================== 
   GOOGLE FONTS 
   ==================== */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Rubik:wght@400;500;600;700;800&display=swap");

/* ==================== 
   CSS VARIABLES (Sheet-specific)
   ==================== */
#sleek-ui-sheet,
.floating-tabs-nav {
  /* Fonts */
  --sleekUI-font-primary: "Montserrat", sans-serif;
  --sleekUI-font-secondary: "Rubik", sans-serif;

  --sleekUI-font-weight-regular: 400;
  --sleekUI-font-weight-medium: 500;
  --sleekUI-font-weight-semibold: 600;
  --sleekUI-font-weight-bold: 700;

  --sleekUI-font-size-tiny: 8px;
  --sleekUI-font-size-xs: 10px;
  --sleekUI-font-size-sm: 12px;
  --sleekUI-font-size-md: 14px;
  --sleekUI-font-size-lg: 16px;
  --sleekUI-font-size-xl: 24px;
  --sleekUI-font-size-name: 28px;

  /* Spacing */
  --sleekUI-spacing-tiny: 4px;
  --sleekUI-spacing-xs: 8px;
  --sleekUI-spacing-sm: 12px;
  --sleekUI-spacing-md: 16px;
  --sleekUI-spacing-xm: 18px;
  --sleekUI-spacing-lg: 24px;
  --sleekUI-spacing-xl: 32px;

  --sleekUI-sidebar-width: 275px;

  /* Border Radius */
  --sleekUI-border-radius: 8px;
  --sleekUI-border-radius-s: 4px;

  /* Colors */
  --sleekUI-color-primary: #efe6d8;
  --sleekUI-color-secondary: #cbcfe2;
  --sleekUI-color-tertiary: #f3c267;

  --sleekUI-color-background-primary: rgba(26, 30, 43, 0.75);
  --sleekUI-color-background-secondary: rgba(20, 24, 34, 0.75);
  --sleekUI-color-background-input: #1a1e2b;
  --sleekUI-color-background-dark: #141822;
  --sleekUI-color-background-resourceHover: rgba(79, 89, 137, 0.3);

  --sleekUI-color-border: #4f5989;
  --sleekUI-color-border-spellcast: #68b0b5;
  --sleekUI-color-border-equipped: #9d7c40;

  --sleekUI-color-tag-text: #add0f1;
  --sleekUI-color-tag-border: #4e6aa5;
  --sleekUI-color-tag-background: rgba(78, 106, 165, 0.3);

  --sleekUI-color-tag2-text: #abede7;
  --sleekUI-color-tag2-border: #68b0b5;
  --sleekUI-color-tag2-background: rgba(104, 176, 181, 0.3);

  --sleekUI-color-tag3-text: #ffd6a8;
  --sleekUI-color-tag3-border: #e88a47;
  --sleekUI-color-tag3-background: rgba(232, 138, 71, 0.3);

  --sleekUI-color-tag4-text: #ffbdb2;
  --sleekUI-color-tag4-border: #e84747;
  --sleekUI-color-tag4-background: rgba(232, 71, 71, 0.3);

  --sleekUI-color-tag5-text: #d2bfff;
  --sleekUI-color-tag5-border: #7747e8;
  --sleekUI-color-tag5-background: rgba(119, 71, 232, 0.3);

  --sleekUI-color-scrollbar: rgba(79, 89, 137, 0.8);

  /* Gradients */
  --sleekUI-gradient-mask-portrait: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 30%
  );
  --sleekUI-gradient-mask-icon: linear-gradient(
    -90deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 50%
  );
  --sleekUI-gradient-card: linear-gradient(
    90deg,
    rgba(104, 79, 89, 0.12) 0%,
    rgba(79, 89, 137, 0.3) 100%
  );
  --sleekUI-gradient-currency: linear-gradient(
    90deg,
    rgb(232, 138, 71, 0.12) 0%,
    rgb(243, 194, 103, 0.3) 100%
  );
  --sleekUI-gradient-trait: linear-gradient(
    0deg,
    rgba(104, 79, 89, 0.12) 0%,
    rgba(79, 89, 137, 0.3) 100%
  );
  --sleekUI-gradient-spellcast-trait: linear-gradient(
    0deg,
    rgba(104, 79, 89, 0.12) 0%,
    rgba(104, 176, 181, 0.3) 100%
  );
  --sleekUI-gradient-line-left: linear-gradient(
    90deg,
    rgba(79, 89, 137, 0) 0%,
    rgba(79, 89, 137, 1) 100%
  );
  --sleekUI-gradient-line-right: linear-gradient(
    260deg,
    rgba(79, 89, 137, 0) 0%,
    rgba(79, 89, 137, 1) 100%
  );
  --sleekUI-gradient-line-middle: linear-gradient(
    260deg,
    rgba(79, 89, 137, 0) 0%,
    rgba(79, 89, 137, 1) 50%,
    rgba(79, 89, 137, 0) 100%
  );
}

/* ==================== 
   GENERAL
   ==================== */

#sleek-ui-sheet {
  width: fit-content;
  min-width: 860px;
}

#sleek-ui-sheet.daggerheart.sheet.actor.adversary.sleek-ui {
  min-width: 750px;
}

#sleek-ui-sheet.daggerheart.sheet.actor.companion.sleek-ui {
  min-width: 370px;
  max-width: 370px;
  min-height: 700px;
}

#sleek-ui-sheet.minimized {
  min-width: 0;
}

#sleek-ui-sheet .window-content {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  background-color: var(--sleekUI-color-background-primary);
  font-family: var(--sleekUI-font-primary);
  font-weight: var(--sleekUI-font-weight-regular);
  font-size: var(--sleekUI-font-size-md);
  padding: 0 !important;
}

#sleek-ui-sheet .sheet-container {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  gap: 0;
}

/* ==================== 
   SCROLLBAR
   ==================== */

*::-webkit-scrollbar-track {
  background: var(--sleekUI-color-background-secondary);
}
*::-webkit-scrollbar-thumb {
  background-color: var(--sleekUI-color-border);
  border-radius: var(--sleekUI-border-radius-s);
}
*::-webkit-scrollbar-thumb:hover {
  background-color: var(--sleekUI-color-secondary);
}

/* ==================== 
   SIDEBAR
   ==================== */
#sleek-ui-sheet [data-application-part="sidebar"] {
  min-width: var(--sleekUI-sidebar-width);
  max-width: var(--sleekUI-sidebar-width);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--sleekUI-color-background-secondary);
  border-right: 1px solid var(--sleekUI-color-border);
  position: relative;
}

/* ==================== 
   MAIN CONTENT
   ==================== */
#sleek-ui-sheet [data-application-part="mainSheet"] {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#sleek-ui-sheet .header-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-bottom: 1px solid var(--sleekUI-color-border);
  gap: var(--sleekUI-spacing-md);
  padding: var(--sleekUI-spacing-md);
  padding-top: var(--sleekUI-spacing-xl);
}

#sleek-ui-sheet .tab-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#sleek-ui-sheet .tabs {
  display: flex;
  flex-direction: column;
  gap: var(--sleekUI-spacing-lg);
}

/* ==================== 
   TYPOGRAPHY
   ==================== */

#sleek-ui-sheet h1 {
  color: var(--sleekUI-color-primary) !important;
  font-family: var(--sleekUI-font-secondary) !important;
  font-size: var(--sleekUI-font-size-name);
  font-weight: var(--sleekUI-font-weight-bold);
  text-transform: uppercase;
}

#sleek-ui-sheet h2 {
  color: var(--sleekUI-color-secondary) !important;
  font-family: var(--sleekUI-font-primary) !important;
  font-size: var(--sleekUI-font-size-md);
  text-transform: uppercase;
  letter-spacing: 1.4px;
}

#sleek-ui-sheet h3 {
  color: var(--sleekUI-color-secondary) !important;
  font-family: var(--sleekUI-font-primary) !important;
  font-size: var(--sleekUI-font-size-xs);
  text-transform: uppercase;
  letter-spacing: 1px;
}

#sleek-ui-sheet p,
#sleek-ui-sheet span {
  font-family: var(--sleekUI-font-primary) !important;
}

#sleek-ui-sheet .trait-name {
  color: var(--sleekUI-color-secondary) !important;
  font-family: var(--sleekUI-font-primary) !important;
  font-size: var(--sleekUI-font-size-tiny);
  font-weight: var(--sleekUI-font-weight-semibold);
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0 -16px;
}

#sleek-ui-sheet .level-number {
  color: var(--sleekUI-color-primary) !important;
  font-family: var(--sleekUI-font-secondary) !important;
  font-size: var(--sleekUI-font-size-xl);
  font-weight: var(--sleekUI-font-weight-bold);
}

#sleek-ui-sheet .value-number {
  color: var(--sleekUI-color-primary) !important;
  font-family: var(--sleekUI-font-secondary) !important;
  font-size: var(--sleekUI-font-size-lg);
  font-weight: var(--sleekUI-font-weight-bold);
}

#sleek-ui-sheet .resource-number {
  color: var(--sleekUI-color-primary) !important;
  font-family: var(--sleekUI-font-primary) !important;
  font-size: var(--sleekUI-font-size-sm);
  font-weight: var(--sleekUI-font-weight-bold);
  letter-spacing: 2px;
}

#sleek-ui-sheet .trait-number {
  color: var(--sleekUI-color-primary) !important;
  font-family: var(--sleekUI-font-secondary) !important;
  font-size: var(--sleekUI-font-size-xl);
  font-weight: var(--sleekUI-font-weight-bold);
  line-height: var(--sleekUI-spacing-xm);
}

#sleek-ui-sheet .experience-number {
  color: var(--sleekUI-color-primary) !important;
  font-family: var(--sleekUI-font-secondary) !important;
  font-size: var(--sleekUI-font-size-sm);
  font-weight: var(--sleekUI-font-weight-bold);
}

#sleek-ui-sheet .loadout-number {
  color: var(--sleekUI-color-primary) !important;
  font-family: var(--sleekUI-font-primary) !important;
  font-size: var(--sleekUI-font-size-md);
  font-weight: var(--sleekUI-font-weight-bold);
  letter-spacing: 3px;
}

#sleek-ui-sheet .card-text-name {
  color: var(--sleekUI-color-primary) !important;
  font-family: var(--sleekUI-font-primary) !important;
  font-size: var(--sleekUI-font-size-md);
  font-weight: var(--sleekUI-font-weight-medium);
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

#sleek-ui-sheet .card-text-details {
  color: var(--sleekUI-color-secondary) !important;
  font-family: var(--sleekUI-font-primary) !important;
  font-size: var(--sleekUI-font-size-sm);
  font-weight: var(--sleekUI-font-weight-regular);
}

#sleek-ui-sheet .card-button {
  color: var(--sleekUI-color-primary) !important;
  font-family: var(--sleekUI-font-primary) !important;
  font-size: var(--sleekUI-font-size-sm);
}

#sleek-ui-sheet .resource {
  color: var(--sleekUI-color-primary) !important;
  font-family: var(--sleekUI-font-primary) !important;
  font-size: var(--sleekUI-font-size-md);
  font-weight: var(--sleekUI-font-weight-semibold);
}

#sleek-ui-sheet .tab-text {
  font-family: var(--sleekUI-font-primary) !important;
  font-size: var(--sleekUI-font-size-md);
  font-weight: var(--sleekUI-font-weight-medium);
}

#sleek-ui-sheet .separator {
  display: inline-block;
  width: 1px;
  height: 60%;
  background: var(--sleekUI-color-border);
}

#sleek-ui-sheet h1.window-title {
  font-family: var(--sleekUI-font-primary);
  font-size: var(--sleekUI-font-size-md);
  font-weight: var(--sleekUI-font-weight-regular);
  text-transform: none;
  padding-left: var(--sleekUI-spacing-xs);
}

/* ==================== 
   INPUTS
   ==================== */

#sleek-ui-sheet input {
  border: none;
  outline: none;
  text-align: center;
  width: 100%;
  border-radius: var(--sleekUI-border-radius-s);
  background: var(--sleekUI-color-background-input);
  color: var(--sleekUI-color-primary) !important;
  font-family: var(--sleekUI-font-primary) !important;
  font-size: var(--sleekUI-font-size-md);
  font-weight: var(--sleekUI-font-weight-semibold);
}

#sleek-ui-sheet input:hover {
  background: var(--sleekUI-color-background-dark);
}

#sleek-ui-sheet input:focus {
  background: var(--sleekUI-color-background-dark);
}

/* ==================== 
   TAGS 
   ==================== */

#sleek-ui-sheet .character-tags {
  display: flex;
  flex-direction: row;
  gap: var(--sleekUI-spacing-tiny);
  flex-wrap: wrap;
}

#sleek-ui-sheet .tag [data-action] {
  cursor: pointer;
  padding: var(--sleekUI-spacing-tiny) var(--sleekUI-spacing-xs);
}

#sleek-ui-sheet .tag:not(:has([data-action])) {
  padding: var(--sleekUI-spacing-tiny) var(--sleekUI-spacing-xs);
}

#sleek-ui-sheet .tag {
  border-radius: var(--sleekUI-border-radius);
  font-size: var(--sleekUI-font-size-xs);
  color: var(--sleekUI-color-tag-text);
  border: 1px solid var(--sleekUI-color-tag-border);
  background: var(--sleekUI-color-tag-background);
  height: 20px;
  line-height: initial;
  display: flex;
  justify-content: center;
  align-items: center;
}

#sleek-ui-sheet .tag i {
  margin-right: var(--sleekUI-spacing-tiny);
  transform: translateY(-1px);
}

#sleek-ui-sheet .tag-blue {
  color: var(--sleekUI-color-tag-text);
  border: 1px solid var(--sleekUI-color-tag-border);
  background: var(--sleekUI-color-tag-background);
}

#sleek-ui-sheet .tag-green {
  color: var(--sleekUI-color-tag2-text);
  border: 1px solid var(--sleekUI-color-tag2-border);
  background: var(--sleekUI-color-tag2-background);
}

#sleek-ui-sheet .tag-orange {
  color: var(--sleekUI-color-tag3-text);
  border: 1px solid var(--sleekUI-color-tag3-border);
  background: var(--sleekUI-color-tag3-background);
}

#sleek-ui-sheet .tag-red {
  color: var(--sleekUI-color-tag4-text);
  border: 1px solid var(--sleekUI-color-tag4-border);
  background: var(--sleekUI-color-tag4-background);
}

#sleek-ui-sheet .tag-purple {
  color: var(--sleekUI-color-tag5-text);
  border: 1px solid var(--sleekUI-color-tag5-border);
  background: var(--sleekUI-color-tag5-background);
}
